#welcome
  = '- Welcome to '
  %span#title='smallanimalsincostumes'
  = '[dot] com -'
  #moretocome
    = '( more to come soon )'
.image
  = image_tag '1.jpg', class: 'medium'

#copyright
  &copy;
  = link_to 'Matthew Fornaciari', 'http://www.mattforni.com', target: '_blank'

